numpy
pandas
matplotlib
seaborn
beautifulsoup4
scipy
ipython
sympy
nose
openpyxl
xlsxwriter
xlrd
rdkit-pypi
setuptools==59.5.0
wheel
bitarray
scikit-learn<1.1,>=1.0.0
reportlab
pyqt5
mxnet
autogluon
ipywidgets
xlrd
seaborn
rdkit-pypi
